%h1 Settings

%form{action: "/", method: 'post', class: 'uk-form-horizontal'}

  // activation switch
  .uk-form-row
    %label.uk-form-label{for: "app_db_active"} Alarm is active
    .uk-form-controls
      %input#app_db_active{type: "checkbox", name: 'app_db[active]', checked: @app_db.data[:active], value: 'true'}

  // Sound Files
  .uk-form-row
    %label.uk-form-label{for: "app_db_alarm_sound"} Choose Alarm Sound
    .uk-form-controls
      %select#app_db_alarm_sound{name: 'app_db[alarm_sound]'}
        %option{value: '', selected: @app_db.data[:alarm_sound].blank?}= 'No Alarm Sound'
        - @sound_files.each do |file|
          %option{value: file, selected: (@app_db.data[:alarm_sound] == file)}= file

  // email notification
  .uk-form-row
    %label.uk-form-label{for: "app_db_email_receiver"} Send notification to
    .uk-form-controls
      .uk-form-icon
        %i.uk-icon-envelope-o
        %input#app_db_email_receiver{placeholder: "Email Address", name: 'app_db[email_receiver]', type: "email", value: @app_db.data[:email_receiver]}/

  // Output Pin
  .uk-form-row
    %label.uk-form-label{for: "app_db_output_pin"} Trigger output pin
    .uk-form-controls
      %select#app_db_alarm_sound{name: 'app_db[output_pin]'}
        %option{value: '', selected: @app_db.data[:output_pin].blank?}= 'None'
        - (1..16).each do |pin|
          %option{value: pin, selected: (@app_db.data[:output_pin] == pin.to_s)}= pin

  // Input Pin
  .uk-form-row
    %label.uk-form-label{for: "app_db_input_pin"} Trigger input pin
    .uk-form-controls
      %select#app_db_alarm_sound{name: 'app_db[input_pin]'}
        %option{value: '', selected: @app_db.data[:input_pin].blank?}= 'None'
        - (1..16).each do |pin|
          %option{value: pin, selected: (@app_db.data[:input_pin] == pin.to_s)}= pin

  %p
    %button.uk-button.uk-button-primary{name: "action", type: "submit"}
      Save
